#menuIcon {
  width: 40px;
  padding: 40px;
}

#container {
  text-align: center;
}

#listHeader {
  text-align: left;
  margin-top: 200px;
  padding-left: 40px;
}

#divider {
  max-width: 80%;
  height: 2px;
  background-color:rgb(62, 0, 231);
  margin-left: 40px;
}

.list {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.listItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.listItems #textInput{
  padding: 5px 0px 5px 5px;
  margin-left: 15px;
}

.listItems li {
  list-style: none;
  padding-left: 15px;
}

